{% load base %}
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-md-pull-9">
   <div class="category-menu-area close-on-tab sidebar-section-margin" id="category-menu-area">
      <ul >
         {% for category in nodes %}
            <li>
               <a href="index.html#">
                  {{category.name}}
                  {% if category.children%}
                     <span>
                        <i class="flaticon-next"></i>
                     </span>
                  {% endif %}
               </a>
                  {% if category.children.count > 0 %}
                     {% tree_structure category %}
                  {% endif %}
            </li>
         {% endfor %}
      </ul>
   </div>
   <div class="best-products sidebar-section-margin">
        <h2 class="title-sidebar">BEST PRODUCTS</h2>
        {% for product in related_products %}
            <div class="media">
                <a href="{{product.get_absolute_url}}" class="pull-left">
                    <img alt="{{product.name}}" src="{{product.image_thumbnail.url}}" class="img-responsive">
                </a>
                <div class="media-body">
                    <h3 class="media-heading"><a href="{{product.get_absolute_url}}">{{product.name}}</a></h3>
                    <p>${{product.price}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="product-tags sidebar-section-margin">
        <h2 class="title-sidebar">Product Tags</h2>
        <ul>
            {% for category in product.category.all %}
               <li><a href="product-details1.html#">{{category.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
   
        