<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mobile-menu">
                    <nav id="dropdown" style="display: block;">
                        <ul>
                            <li><a href="wishlist.html#">Home</a>
                                
                            </li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="wishlist.html#">Blog</a>
                                
                            </li>
                            <li><a href="wishlist.html#">Portfolio</a>
                                
                            </li>
                            <li><a href="wishlist.html#">Shop</a>
                                
                            </li>
                            <li><a href="wishlist.html#">Pages</a>
                            </li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>