<div class="tab-pane fade" id="addresses">                                    
    <div class="woocommerce-MyAccount-content wd-myaccount-content-wrapper"> 
    <p>
        The following addresses will be used on the checkout page by default.</p>
        <div class="u-columns woocommerce-Addresses addresses">
            <div class="woocommerce-Address">
                <header class="woocommerce-Address-title title">
                    <h3>Billing address</h3>
                    <a href="my-account.html#" class="edit">Edit</a>
                </header>
                <address>
                    You have not set up this type of address yet.       
                </address>
            </div>
            <div class="woocommerce-Address">
                <header class="woocommerce-Address-title title">
                    <h3>Shipping address</h3>
                    <a href="my-account.html#" class="edit">Edit</a>
                </header>
                <address>
                    You have not set up this type of address yet.       
                </address>
            </div>
        </div>
    </div>
</div>