{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{{}} | {{}}</title>
	<meta name="description" content="Multi-Purpose E-commerce Template">
	<!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="">
	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
	<link rel="stylesheet" type="text/css" href="third-party/sidr/css/jquery.sidr.dark.css">
	<link rel="stylesheet" type="text/css" href="third-party/slick/css/slick.css">
	<link rel="stylesheet" type="text/css" href="third-party/slick/css/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="third-party/wow/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.min.css">
	<link rel="stylesheet" type="text/css" href="third-party/magnific-popup-master/css/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="third-party/accordionjs/css/accordion.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="icons/icons.css">
	<link rel="stylesheet" type="text/css" href="css/custom.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="stylesheet" id="color" href="css/default.css">
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800" rel="stylesheet">

</head> {% endcomment %}