{% extends 'base.html' %}
{% load static %}
{% load base %}
{% block title %} Home{% endblock title %}
{% block category_home %}
{% endblock category_home %}
{% block maincontent %}
<!-- ========================= SECTION INTRO ========================= -->
<section class="section-intro">
   <div class="intro-banner-wrap">
      <img src="{% static "images/banners/1.jpg" %} " class="w-100 img-fluid">
   </div>
</section>
<!-- ========================= SECTION INTRO END// ========================= -->
<!-- ========================= SECTION SPECIAL ========================= -->
<section class="section-specials padding-y border-bottom">
   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <figure class="itemside">
               <div class="aside">
                  <span class="icon-sm rounded-circle bg-primary">
                  <i class="fa fa-money-bill-alt white"></i>
                  </span>
               </div>
               <figcaption class="info">
                  <h6 class="title">Reasonable prices</h6>
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labor 
                  </p>
               </figcaption>
            </figure>
            <!-- iconbox // -->
         </div>
         <!-- col // -->
         <div class="col-md-4">
            <figure class="itemside">
               <div class="aside">
                  <span class="icon-sm rounded-circle bg-danger">
                  <i class="fa fa-comment-dots white"></i>
                  </span>
               </div>
               <figcaption class="info">
                  <h6 class="title">Customer support 24/7 </h6>
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labor 
                  </p>
               </figcaption>
            </figure>
            <!-- iconbox // -->
         </div>
         <!-- col // -->
         <div class="col-md-4">
            <figure class="itemside">
               <div class="aside">
                  <span class="icon-sm rounded-circle bg-success">
                  <i class="fa fa-truck white"></i>
                  </span>
               </div>
               <figcaption class="info">
                  <h6 class="title">Quick delivery</h6>
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labor 
                  </p>
               </figcaption>
            </figure>
            <!-- iconbox // -->
         </div>
         <!-- col // -->
      </div>
      <!-- row.// -->
   </div>
   <!-- container.// -->
</section>
<!-- ========================= SECTION SPECIAL END// ========================= -->
<!-- ========================= SECTION  ========================= -->
<section class="section-name  padding-y-sm">
   <div class="container">
      <header class="section-heading">
         <a href="page-index-3.html#" class="btn btn-outline-primary float-right">See all</a>
         <h3 class="section-title">Popular products</h3>
      </header>
      <!-- sect-heading -->
      <div class="row">
         {% for latest_p in lp %}
            <!-- col.// -->
            <div class="col-md-3">
               <div href="#" class="card card-product-grid">
                  <a href="{{latest_p.get_absolute_url}}" class="img-wrap"> <img src="{{latest_p.image.url }}"> </a>
                  <figcaption class="info-wrap">
                     <a href="page-index-3.html#" class="title">{{latest_p.name}}</a>
                     <div class="price mt-1">${{latest_p.price}}</div>
                     <!-- price-wrap.// -->
                  </figcaption>
               </div>
            </div>
            <!-- col.// -->
         {% endfor %}
      </div>
      <!-- row.// -->
   </div>
   <!-- container // -->
</section>

<section class="section-name  padding-y-sm">
   <div class="container">
      <header class="section-heading">
         <a href="page-index-3.html#" class="btn btn-outline-primary float-right">See all</a>
         <h3 class="section-title">Hot products</h3>
      </header>
      <!-- sect-heading -->
      <div class="row">
         {% for latest_p in lp %}
            <!-- col.// -->
            <div class="col-md-3">
               <div href="#" class="card card-product-grid">
                  <a href="page-index-3.html#" class="img-wrap"> <img src="{{latest_p.image.url }}"> </a>
                  <figcaption class="info-wrap">
                     <a href="page-index-3.html#" class="title">{{latest_p.name}}</a>
                     <div class="price mt-1">${{latest_p.price}}</div>
                     <!-- price-wrap.// -->
                  </figcaption>
               </div>
            </div>
            <!-- col.// -->
         {% endfor %}
      </div>
      <!-- row.// -->
   </div>
   <!-- container // -->
</section>




<section class="section-name  padding-y-sm">
   <div class="container">
      <header class="section-heading">
         <a href="page-index-3.html#" class="btn btn-outline-primary float-right">See all</a>
         <h3 class="section-title">Featured products</h3>
      </header>
      <!-- sect-heading -->
      <div class="row">
         {% for latest_p in lp %}
            <!-- col.// -->
            <div class="col-md-3">
               <div href="#" class="card card-product-grid">
                  <a href="page-index-3.html#" class="img-wrap"> <img src="{{latest_p.image.url }}"> </a>
                  <figcaption class="info-wrap">
                     <a href="page-index-3.html#" class="title">{{latest_p.name}}</a>
                     <div class="price mt-1">${{latest_p.price}}</div>
                     <!-- price-wrap.// -->
                  </figcaption>
               </div>
            </div>
            <!-- col.// -->
         {% endfor %}
      </div>
      <!-- row.// -->
   </div>
   <!-- container // -->
</section>


<!-- ========================= SECTION  END// ========================= -->
{% endblock maincontent %}
{% block extrajs %}
{% endblock extrajs %}