{% extends 'base.html' %}
{% load static %}

{% block title %} Password Rest {% endblock title %}

{% block maincontent %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">
        <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
           {% include "support_html/error_message.html" %}
           <div class="card-body">
              <h4 class="card-title mb-4">Forgot your password</h4>
              <p>Enter your email address below, and we'll email instructions for setting a new one</p>

              <form method="post">
                 {% csrf_token %}
                 
                 <!-- form-group// -->
                 <div class="form-group">
                    <input autocomplete="off"
                    autocorrect="off"
                    autocapitalize="none"
                    spellcheck="false" name="email" class="form-control" placeholder="Enter email" type="email">
                 </div>
                 <!-- form-group// -->
                 <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Send me instructions!  </button>
                 </div>
                 <!-- form-group// -->    
              </form>
           </div>
           <!-- card-body.// -->
        </div>
        <!-- card .// -->
        <p class="text-center mt-4">Remmember Password<a href="{% url 'login' %}">login</a></p>
        <br><br>
        <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
     </section>
     <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock maincontent %}

