{% extends 'base.html' %}
{% load static %}

{% block title %} Email Sent {% endblock title %}

{% block category_home %}
    {% include 'support_html/category_tag.html' %}
{% endblock category_home %}

{% block maincontent %}

    <div class="login-registration-page-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 x-form">
                    {% include "support_html/error_message.html" %}
                    <div class="login-registration-field">
                    <h1 class="cart-area-title">Check your inbox.</h1>
                    <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock maincontent %}

