{% extends 'base.html' %}
{% load static %}

{% block title %} Password Rest {% endblock title %}

{% block category_home %}
    {% include 'support_html/category_tag.html' %}
{% endblock category_home %}

{% block maincontent %}

    <div class="login-registration-page-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 x-form">
                    {% include "support_html/error_message.html" %}
                    <div class="login-registration-field">
                    <h2 class="cart-area-title">Forgeot your password</h2>
                    <p>Enter your email address below, and we'll email instructions for setting a new one</p>
                    <form method='post'>
                        {% csrf_token %}
                        <label>Email</label>
                        <input type="email" placeholder="Enter Email" name="email"/>
                        <button class="btn-send-message disabled" type="submit" value="Login">Send me instructions!</button>
                        <span><a href="{% url 'login' %}">Login</a></span>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock maincontent %}

