{% extends 'base.html' %}
{% load static %}

{% block title %} Password reset completet {% endblock title %}

{% block category_home %}
    {% include 'support_html/category_tag.html' %}
{% endblock category_home %}

{% block maincontent %}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">
        <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
           {% include "support_html/error_message.html" %}
           <div class="card-body">
              <h4 class="card-title mb-4">Password Updated success</h4>
              <p>Enter your email address below, and we'll email instructions for setting a new one</p>

              <form method="post">
                 <!-- form-group// -->
                 <div class="form-group">
                        <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>

                 </div>
                 <!-- form-group// -->
                 <div class="form-group">
                    <a class="btn btn-primary btn-block"> Return Home </a>
                 </div>
                 <!-- form-group// -->    
              </form>
           </div>
           <!-- card-body.// -->
        </div>
        <!-- card .// -
        <br><br>
        <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
     </section>
     <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock maincontent %}

