{% extends 'home_base.html' %}
{% load static %}

{% block title %} Enter New password {% endblock title %}

{% block category_home %}
    {% include 'support_html/category_tag.html' %}
{% endblock category_home %}

{% block maincontent %}

    <div class="login-registration-page-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 x-form">
                    {% include "support_html/error_message.html" %}
                    <div class="login-registration-field">
                    <h2 class="cart-area-title">Set a new password</h2>
                    <form method='post'>
                        {% csrf_token %}
                        <label>Enter new password</label>
                        <input type="password" placeholder="Enter new password" name="new_password1" id="id_new_password1"/>
                        <label>Confirm new password</lable>
                        <input type="password" placeholder="Enter confirm pssword" name="new_password2" id="id_new_password2"/>
                        <button class="btn-send-message disabled" type="submit" value="Change my password">Change my password</button>
                        <span><a href="{% url 'login' %}">Login</a></span>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock maincontent %}

