{% extends 'base.html' %}
{% load static %}

{% block title %} User Registration | {{website_name}} {% endblock title %}

{% block category_home %}
{% endblock category_home %}

{% block maincontent %}

<section class="section-content padding-y">
    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        {% include "support_html/error_message.html" %}
        <article class="card-body">
            <header class="mb-4">
                <h4 class="card-title">Sign up</h4>
            </header>
            <form method="post" action="{% url 'register' %}">
                {% csrf_token%}
                <div class="form-group">
                <label>Full Name</label>
                <input type="text" name="name" class="form-control" placeholder="Enter Full Name">
                </div>
                <!-- form-row end.// -->
                <div class="form-group">
                <label>User Name</label>
                <input type="text" name="username" class="form-control" placeholder="Enter User Name">
                </div>
                <!-- form-row end.// -->
                <div class="form-group">
                <label>Email</label>
                <input name="email"  type="email" class="form-control" placeholder="Enter Email">
                </div>
                <!-- form-group end.// -->
                <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Create password</label>
                    <input class="form-control" type="password" name="password1">
                </div>
                <!-- form-group end.// --> 
                <div class="form-group col-md-6">
                    <label>Repeat password</label>
                    <input class="form-control" type="password" name="password2">
                </div>
                <!-- form-group end.// -->  
                </div>
                <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Register  </button>
                </div>
                <!-- form-group// -->                
            </form>
        </article>
        <!-- card-body.// -->
    </div>
    <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a href="{% url 'login' %} ">Log In</a></p>
    <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
</section>

{% endblock maincontent %}

