  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    {% endfor %}
  {% endif %}

  {% if form.errors %}
    <div class="alert alert-danger" role='alert'>
      <ul>
        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
                <li>
                   <strong> {{ field.name }} : {{ error|escape }} </strong>
                </li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
      {% if form.non_field_errors %}
        {{ form.non_field_errors }}
      {% endif %}
    </div>
  {% endif %}